.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
    background-color: khaki;
}

.pages{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(177, 117, 27);
    font-size: 8px;
    transition-duration: 0.2s;
}

a{
    color: white;
    font-family: sans-serif ;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
    background-color: rgb(189, 69, 0);
}
  
a:active {
    text-decoration: none;
}

h1{
    align-self: center;
}

body{
    background-color: rgb(235, 183, 86);
}

.kekw, img, h2{
    width: auto;
    height: fit-content;
    background-color: lightgoldenrodyellow;
    margin: 50px 10%;
    padding: 50px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}
